OPENAI_API_KEY=replace-with-openai-api-key
SOFRA_CLIENT_KEY=replace-with-random-client-key
UPSTASH_REDIS_REST_URL=replace-with-upstash-rest-url
UPSTASH_REDIS_REST_TOKEN=replace-with-upstash-rest-token
